<body>
  <div style="text-align: center;">
    <label>Filtrar por: </label>
    <input type="text" placeholder="(marca de coche)" [(ngModel)]='input'>
  </div>
  <div style="text-align: center;">
    <table id="table">
      <tr>
        <th>Foto</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>En venta desde</th>
        <th>Precio</th>
        <th>PVP</th>
        <th>Acciones</th>
      </tr>
      <tr id="scenic" *ngFor='let coche of coches; let i=index'>
        <td><img [src]="coches[i].imagen" [alt]=coches[i].modelo/></td>
        <td>{{coches[i].marca | uppercase}}</td>
        <td>{{coches[i].modelo}}</td>
        <td>{{coches[i].ano}}</td>
        <td>{{coches[i].fecha}}</td>
        <td [style.background-color]=coches[i].color>{{coches[i].precio | currency:'EUR':'symbol':'.0-0':'es'}}</td>
        <td>{{coches[i].PVP | currency:'EUR':'symbol':'.0-0':'es'}}</td>
        <td>
          <button (click)='rebajar(coches[i])'>Rebajar</button>
          <button (click)='vendido(i)'>Vendido</button>
        </td>
      </tr>
    </table>
  </div>
</body>