<body>
  <div style="text-align: center;">
    <label>Filtrar por: </label>
    <input type="text" placeholder="(marca de coche)">
  </div>
  <div style="text-align: center;">
    <table id="table">
      <tr>
        <th>Foto</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>En venta desde</th>
        <th>Precio</th>
        <th>PVP</th>
        <th>Acciones</th>
      </tr>
      <tr id="scenic">
        <td><img src="/Micropractica2/images/scenic.jpg" alt="SCENIC"></td>
        <td>{{coches[0].marca | uppercase}}</td>
        <td>{{coches[0].modelo}}</td>
        <td>{{coches[0].ano}}</td>
        <td>{{coches[0].fecha}}</td>
        <td>{{coches[0].precio}}</td>
        <td>{{coches[0].PVP}}</td>
        <td>
          <button (click)='rebajar(coches[0])'>Rebajar</button>
          <button (click)='vendido("scenic")'>Vendido</button>
        </td>
      </tr>
      <tr id="ibiza">
        <td><img src="/Micropractica2/images/ibiza.jpg" alt="SCENIC"></td>
        <td>{{coches[1].marca | uppercase}}</td>
        <td>{{coches[1].modelo}}</td>
        <td>{{coches[1].ano}}</td>
        <td>{{coches[1].fecha}}</td>
        <td>{{coches[1].precio}}</td>
        <td>{{coches[1].PVP}}</td>
        <td>
          <button (click)='rebajar(coches[1])'>Rebajar</button>
          <button (click)='vendido("ibiza")'>Vendido</button>
        </td>
      </tr>
      <tr id="megane">
        <td><img src="/Micropractica2/images/megane.jpg" alt="SCENIC"></td>
        <td>{{coches[2].marca | uppercase}}</td>
        <td>{{coches[2].modelo}}</td>
        <td>{{coches[2].ano}}</td>
        <td>{{coches[2].fecha}}</td>
        <td>{{coches[2].precio}}</td>
        <td>{{coches[2].PVP}}</td>
        <td>
          <button (click)='rebajar(coches[2])'>Rebajar</button>
          <button (click)='vendido("megane")'>Vendido</button>
        </td>
      </tr>
      <tr id="model 3">
        <td><img src="" alt="TESLA"></td>
        <td>{{coches[3].marca | uppercase}}</td>
        <td>{{coches[3].modelo}}</td>
        <td>{{coches[3].ano}}</td>
        <td>{{coches[3].fecha}}</td>
        <td>{{coches[3].precio}}</td>
        <td>{{coches[3].PVP}}</td>
        <td>
          <button (click)='rebajar(coches[3])'>Rebajar</button>
          <button (click)='vendido("model 3")'>Vendido</button>
        </td>
      </tr>
    </table>
  </div>
</body>