<body>
  <div style="text-align: center;">
    <label>Filtrar por: </label>
    <input type="text" placeholder="(marca de coche)" [(ngModel)]='input'>
  </div>
  <div style="text-align: center;">
    <table id="table">
      <tr>
        <th>Foto</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>En venta desde</th>
        <th>Precio</th>
        <th>PVP</th>
        <th>Acciones</th>  
      </tr>
      
     
      <tr *ngFor='let coche of coches; let i=index'>
        <ng-container *ngIf="input.toUpperCase() == coche.marca || input == '' ">
          <td><img [src]="coche.imagen" [alt]=coche.modelo/></td>
          <td>{{coche.marca | uppercase}}</td>
          <td>{{coche.modelo}}</td>
          <td>{{coche.ano}}</td>
          <td>{{coche.fecha}}</td>
          <td [style.background-color]=coche.color>{{coche.precio | currency:'EUR':'symbol':'.0-0':'es'}}</td>
          <td>{{coche.PVP | currency:'EUR':'symbol':'.0-0':'es'}}</td>
          <td>
            <button (click)='rebajar(i)'>Rebajar</button>
            <button (click)='vendido(i)'>Vendido</button>
          </td>
        </ng-container>
      </tr>
    </table>
  </div>
</body>